.container {
  padding: 30px auto 0;
  border: thick double teal;
  margin: 30px auto 5px;
  border-radius: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(161, 255, 206) 0%,
    rgb(250, 255, 209) 90%
  );
  max-width: 800px;
}

.motto,
button,
.city-day-line,
.citySearch,
.currentWeather,
.tempConversion,
#degreeTemp,
.forecastDay,
.forecastMin-maxTemp {
  font-family: "Pangolin", cursive;
  color: black;
  /* color: rgb(17, 17, 78); */
}

.motto {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 26px;
  color: rgb(148, 139, 139);
  font-weight: 500;
}

.citySearch {
  margin: 0 25px;
}

.form-control {
  max-width: 350px;
}

#currentLocationButton {
  padding: 5px 10px 5px 10px;
}

.frame {
  margin: 0 25px;
}

.currentWeather {
  margin: 20px 0 25px;
}

.city-day-line {
  display: block;
  text-align: left;
  line-height: 0.6;
  padding: 25px 0 0 0;
}

.cityName,
#degreeTemp {
  font-weight: normal;
  font-size: 28px;
}

#degreeTemp {
  line-height: 1;
}

.currentDay,
.currentTime {
  font-size: 14px;
}

.lastUpdated {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  display: inline;
  text-align: center;
}

.todayData {
  text-align: center;
  position: relative;
}

.unitC {
  border-radius: 35px 0px 0px 35px;
}

.unitF {
  border-radius: 0px 35px 35px 0px;
}

.unitC,
.unitF {
  background-color: none;
  color: grey;
  box-shadow: 1px 1px 2px rgb(128, 128, 128);
  border: 1px solid rgb(66, 122, 66);
  position: relative;
  top: 20px;
  transition: all 0.3s ease-in-out;
}

.half-circle {
  width: 200px;
  height: 100px; /* as the half of the width */
  background-color: none;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 1px solid gray;
  border-bottom: 0;
}

.currentTemp {
  font-size: 26px;
  text-decoration: none;
}

.tempConversion {
  color: black;
  text-decoration: none;
}

.tempConversion:hover {
  cursor: pointer;
}
.currentIcon {
  width: 100px;
  margin: -5px auto;
}

#currentDescription,
.currentMinMax {
  font-size: 16px;
  margin-top: 0;
}

.sunrise {
  position: relative;
  top: -110px;
  right: -180px;
}

.sunset {
  position: relative;
  top: -135px;
  right: -490px;
}

.sunIcon {
  width: 30px;
}

.additionalData_text,
.additionalData_values {
  list-style: none;
  width: 50%;
  display: block;
}

.additionalData_text {
  text-align: right;
}

.additionalData_values {
  text-align: left;
}

.weatherForecast {
  display: block;
  text-align: center;
  line-height: 70%;
}

.forecastDay {
  font-weight: 600;
  font-size: 18px;
}

.forecastIcon {
  width: 90px;
  padding: -10px 0 0 0;
}

footer {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: small;
  color: rgb(167, 163, 163);
}
