.container {
  padding: 30px auto 0;
  border: thick double teal;
  margin: 30px auto 5px;
  border-radius: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  max-width: 800px;
}

.motto,
button,
.currentTimeDate,
.citySearch,
.currentWeather,
.tempConversion,
#degreeTemp,
.forecastDay,
.forecastMin-maxTemp,
.cityName,
.lastUpdated {
  font-family: "Pangolin", cursive;
  color: black;
  /* color: rgb(17, 17, 78); */
}

.motto {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 26px;
  color: rgb(148, 139, 139);
  font-weight: 500;
}

.citySearch {
  position: relative;
  margin-left: 25px;
}

#formInput {
  max-width: 350px;
}

#currentLocationButton {
  padding: 5px 10px 5px 10px;
}

.frame {
  margin: 0 25px;
}

.cityName {
  margin: 15px 0 10px;
  font-size: 24px;
}

.currentWeather {
  margin: 0 0 25px;
}

#degreeTemp {
  font-weight: normal;
  font-size: 28px;
  line-height: 2;
  margin-bottom: 3px;
  text-align: center;
  display: block;
}

.currentTimeDate {
  display: block;
  text-align: left;
  line-height: 80%;
  padding: 0;
  font-size: 14;
}

#currentTime,
#currentDate {
  text-indent: 15px;
}

.todayData {
  text-align: center;
  position: relative;
  list-style: none;
  display: inline;
}

.unitC {
  border-radius: 35px 0px 0px 35px;
}

.unitF {
  border-radius: 0px 35px 35px 0px;
}

.unitC,
.unitF {
  background-color: none;
  color: grey;
  box-shadow: 1px 1px 2px rgb(128, 128, 128);
  border: 1px solid rgb(66, 122, 66);
  position: relative;
  top: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.unitC:hover,
.unitF:hover {
  background-color: rgb(118, 196, 156);
  color: black;
}

.half-circle {
  width: 200px;
  height: 100px; /* as the half of the width */
  background-color: none;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 1px solid gray;
  border-bottom: 0;
}

.currentTemp {
  font-size: 26px;
  text-decoration: none;
}

.tempConversion {
  color: black;
  text-decoration: none;
}

.tempConversion:hover {
  cursor: pointer;
}
.currentIcon {
  width: 100px;
  margin: -5px auto;
}

#currentDescription,
.currentMinMax {
  font-size: 16px;
  margin-top: 0;
}

.sunrise {
  position: relative;
  top: -65px;
  right: -220px;
}

.sunset {
  position: relative;
  top: -118px;
  right: -420px;
}

.sunIcon {
  width: 30px;
}

ul {
  list-style: none;
}

.additionalData_text,
.additionalData_values {
  width: 50%;
  margin-top: 25px;
}

.additionalData_text {
  display: block;
  text-align: right;
}

.additionalData_values ul {
  text-align: left;
  padding: 0;
}

.weatherForecast {
  display: block;
  text-align: center;
  line-height: 70%;
  position: relative;
  top: -50px;
}

.forecastDay {
  font-weight: 600;
  font-size: 18px;
}

.forecastIcon {
  width: 90px;
  padding: -10px 0 0 0;
}

footer {
  display: block;
  text-align: center;
  font-family: monospace;
  font-size: small;
  color: rgb(167, 163, 163);
}
